body {
  /* Change the background of the entire site to light blue */
  /* You can use hex-codes for colors, or basic colors such as red, green, blue */
  background-color: rgb(239, 255, 239);
  /* Change the font of the website to Arial */
  font-family: 'Helvetica', serif;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: 'Monaco';
  color: black;
  text-align: center;
}

p {
  /* Change the color of all paragraphs to green */
  color: black;
  width: 100%;
  font-size: large;
  text-align: center;
}

/* Styling the paint class */
.image {
  /* Sets a width of 400px to the image in the paint class */
  width: 200px;
}

.column {
  float: left;
  width: 20%;
  padding: 6%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

th {
  text-align: left;
}

a {
  color: blue;
}

a:visited {
  color: cyan
}

a:hover {
  color: pink;
}

a:active {
  color: purple
}

.booktitle {
  color: red;
}

#title {
  background-color: white;
}

